################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/API/Images/97faf9d1-570c-43bf-ac34-023bc850651f.png
